body{
    width: auto;
    height: 700px;
    border-style: solid;
    justify-content: center;
    padding: 2em;
}
.cabeza {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 295px;
    padding: 2em;
    background-color: #434750;
    position: relative;
}
.ojoDerecho {
    border: 2px solid red;
    height: 0;
    width: 20px;
    position: absolute;
    margin-left: 35px;
    margin-top: 7px;
    background-color: red;
}
.ojoIzquierdo {
    border: 5px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    background-color: red;
}
.boca {
    border: 5px red solid;
    height: 20px;
    width: 50px;
    position: absolute;
    margin-top: 25px;
    margin-left: -3px;
    border-radius: 80%;
}
.sonrisa{
    border: 5px solid #434750;
    position: absolute;
    height: 10px;
    width: 50px;
    background-color: #434750;
    margin-left: -4px;
    margin-top: 20px;
}
.cuerpo{
    border: 5px solid radial-gradient(#e66465, #9198e5);
    margin-left:255px;
    width:200px;
    height:300px;
    position: relative;
    background: radial-gradient(#e66465, #9198e5);
}
.brazoderecho {
    border: 5px solid #434750;
    position: absolute;
    width: 150px;
    height: 30px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: #434750;
}
.brazoizquierdo {
    border: 5px solid #434750;
    position: absolute;
    width: 150px;
    height: 30px;
    margin-left: -160px;
    margin-top: 100px;
    background-color: #434750;
}
.piernas {
        border: 5px solid #434750;
        position: absolute;
        width: 50px;
        height: 150px;
        margin-left: 0;
        margin-top: 300px;
        background-color: #434750;
    }
.piernis{
        border: 5px solid #434750;
        position: absolute;
        width: 50px;
        height: 150px;
        margin-left: 145px;
        margin-top: 250px;
        background-color: #434750;
}
.boton {
    border: 15px dashed rgb(0, 0, 0);
    height: 0;
    width: 80px;
    position: absolute;
    margin-top: 60px;
    margin-left: 45px;
}