* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: rgb(155, 248, 248);
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header {
    grid-area: header;
    background-color: rgb(191, 248, 248);
}
.nav {
    grid-area: nav;
    background-color:white;
    text-align: center;
}
.aside {
    grid-area: aside;
    background-color: blanchedalmond;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.article {
    grid-area: article;
    background-color: rgba(202, 159, 243, 0.858);
}
.footer {
    grid-area: footer;
    background-color: rgba(191, 248, 248);
}
/*Aqui procedemos a desarrollar las mediciones para cada uno de nuestras etiquetas de la estructura.*/
.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
    'header'  100px
    'nav'     50px
    'article' auto
    'aside'   100px
    'footer'  100px;
}
@media (min-width: 600px) {
    .grid-container {
    grid-template: 
    'header header' 100px
    'nav    nav'    50px
    'aside  article' auto
    'footer footer' 100px /
    200px   auto;
}
}
@media (min-width: 900px) {
    .grid-container {
        grid-template: 
        'header header header'  100px
        'nav  article   aside'  auto
        'footer footer  footer' 100px /
        200px   auto    200px;
}
}
#ball {
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
    35deg,
    );
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

@keyframes bounce{
    0% {
    top: 0px;
    }
    50% {
    top: 120px;
    width: 130px;
    height: 75px;
    }
    80% {
    top: 0px;
    }
}
.imagen1 {
    width: 50%;
    height: auto;
    margin-left: 10px;
}
.textart {
    font-size: 20px;
}
